[submodule "themes/landscape"]
	path = themes/landscape
	url = https://github.com/hexojs/hexo-theme-landscape
[submodule "themes/material"]
	path = themes/material
	url = https://github.com/iblh/hexo-theme-material.git
