$highlight-background   : #383a59;
$highlight-foreground   : #f8f8f2;
$highlight-comment      : rgb(128,176,96);
$highlight-red          : #ff5555;
$highlight-orange       : #ffb86c;
$highlight-yellow       : #f1fa8c;
$highlight-green        : #50fa7b;
$highlight-aqua         : #3e999f;
$highlight-blue         : #8be9fd;
$highlight-purple       : #bd93f9;